{

    "babelrc": false,
    "sourceMaps": true,

    "plugins": [
        [
            "transform-runtime", {
                "polyfill": true,
                "regenerator": false
            }
        ]
    ],

    "presets": [ "futagozaryuu" ]

}
